.entrega{
    z-index: 5;
    margin-top: 2%;
    border-radius: 20px;
    --background-color: rgb(56, 53, 53);
}

// .header{
//     --background: rgb(80, 80, 165);
//     color: white;
//     font-family: 'Times New Roman', Times, serif;
// }
// .content{
//     --background: white;
// }