<ion-header [translucent]="false">
  <ion-toolbar color="primary">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
          </div>
        </ion-col>
        <ion-col size="auto">
          <div>LISTA DE TAREFAS</div>
        </ion-col>
        <ion-col>
          <div>
            <ion-buttons slot="end" (click)="authService.SignOut()">
              <ion-icon name="log-out-outline" size="large" slot="end"></ion-icon>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
